<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>All Books</h3>

    <table>
        <th:block th:each="book : ${All.books}">
            <tr>
                <td th:text="${book.id}">...</td>
                <td th:text="${book.title}">...</td>
                <td th:text="${book.year}">...</td>
                <td th:text="${book.authorsName}">...</td>
            </tr>
            <!--<tr>-->
                <!--<td colspan="2" th:text="${book.description}">...</td>-->
            <!--</tr>-->
        </th:block>
    </table>
</body>
</html>